<tr id="<%= expense.id %>">
  <td><%= expense.type %></td>
  <td><%= number_to_currency(expense.amount, precision: 2) %></td>
  <td>
    <%= link_to "Editar", edit_expense_path(expense), remote: true %>
  </td>
</tr>